<div class="container">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-4 text-center">
        <h4>Exisitng User?</h4>
        <%= link_to "Select User", :users, class: "btn user_button" %>
        <h4>New User?</h4>
        <%= link_to "Create New User", :new_user, class: "btn user_button" %>
      </div>
      <div class="col-md-8">
        <h4 class="text-center">Latest 5 posts</h4>
        <% @posts.each do |post| %>
          <div class="post-summary">
            <div class="row">
              <div class="col-xs-8">
                <%= link_to "#{post.title}", post_path(post), class: "summary-title"%>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail-wrapper">
                  <%= image_tag "#{post.user.picture_url}", class: "thumbnail-image" %>
                </div>
                <p class="thumbnail-name"><%=post.user.name%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p class="summary-content"><%=truncate(post.content, length: 200)%></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
