<div>
  <h1><%=@post.title%></h1>
</div>

<div>
  <p>content: <%=@post.content%></p>
  <%=image_tag "#{@post.picture_url}" %>
</div>

<div>
  <%= link_to "Edit #{@post.title}", :edit_post %>
  <%= link_to "Back to Posts", :posts %>
</div>
