<%= form_for @post do |f| %>

  <div>
    <%= f.label      :user %>
    <%= select("post", "user_id", User.all.collect {|u| [ u.name, u.id ] },
               {:include_blank => true}) %>
  </div>
  <div>
    <%= f.label      :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label      :content %>
    <%= f.text_area  :content %>
  </div>
  <div>
    <%= f.label      :picture_url %>
    <%= f.text_field :picture_url %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>
